* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    /* width: 90vw; */
}

.feature img {
    max-width: 40%;
    border-radius: 20px;
}

.feature .text {
    max-width: 40%;
}

.feature h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.feature p {
    font-size: 16px;
    line-height: 1.6;
}

.feature button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.feature button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .feature {
        flex-direction: column;
        text-align: center;
    }

    .feature img, .feature .text {
        max-width: 100%;
    }

    .feature .text {
        margin-top: 20px;
    }
}
